<div class="main">
    <div class="first">Lorem ipsum</div>
    <div class="second">INFRASTRUCTURE</div>
    <div class="third">
        <div class="comp"><img src="../../assets/transportation.svg" alt=""><div>TRANSPORT</div></div>
        <div class="comp"><img src="../../assets/health.svg" alt=""><div>MEDICAL</div></div>
        <div class="comp"><img src="../../assets/library.svg" alt=""><div>LIBRARY</div></div>
        <div class="comp"><img src="../../assets/sports.svg" alt=""><div>SPORT</div></div>
        <div class="comp"><img src="../../assets/classroom.svg" alt=""><div>CLASSROOMS</div></div>
        <div class="comp"><img src="../../assets/labs.svg" alt=""><div>LABS</div></div>
        <div class="comp"><img src="../../assets/cafeteria.svg" alt=""><div>CAFETERIA</div></div>
    </div>
</div>