<div class="main">
    <div class="left">
        <img src="../../assets/tour1.avif" alt="" height="300px" width="450">
        <div class="about">
            <span class="firstSpan">EXCHANGE </span>
            <span class="SecondSpan">PROGRAMME~</span>
        </div>
        <img class="arrow" src="../../assets/arrow.svg" alt="" height="70" width="120">
    </div>
    
    <div class="right">
        <img src="../../assets/tour2.webp" alt="" height="300px" width="450">
        <div class="about">
            <span class="firstSpan">EDUCATIONAL </span>
            <span class="SecondSpan">TOUR~</span>
        </div>
        <img class="arrow" src="assets/arrow.svg" alt="" height="70" width="120">
    </div>
</div>