<div class="main">
    <div class="scrollBox">
        <div class="scrollComps">
            <div class="first">
                <img src="../../assets/standingStyle.jpg" alt="" height="220" width="250">
                <div class="name">Mrs. Ishani Sharma - <span style="color: rgb(87, 189, 3);">
                    Proncipal
                </span></div>
                <div class="logo">LOGO GOES HERE</div>
            </div>
            <div class="second">
                <div class="principle">PRINCIPAL'S <span style="color: rgb(87, 189, 3);">MESSAGE</span></div>
                <div class="message">
                   <span  style="color: rgb(87, 189, 3);"> Lorem ipsum dolor</span> sit amet consectetur adipisicing elit. Vero illo saemaiores
                    veritatis fugiat laboriosam, enim facere laborum harum velit.
                </div>
                <hr>
                <button>READ MORE</button>
            </div>

            <div class="third">
                <div class="notice">NOTICES</div>
                <div class="allNotices">
                    <img src="../../assets/redArrow.svg" alt="" height="17px" width="17px" style="margin-right: 5px;">
                    <span>Free Structure for the Academic Session 2021-2022</span>
                    <hr>
                    <img src="../../assets/redArrow.svg" alt="" height="17px" width="17px" style="margin-right: 5px;">
                    <span>Free Structure for the Academic Session 2021-2022</span>
                    <hr>
                    <img src="../../assets/redArrow.svg" alt="" height="17px" width="17px" style="margin-right: 5px;">
                    <span>Free Structure for the Academic Session 2021-2022</span>
                </div>
                <button>VIEW ALL</button>
            </div>
        </div>
    </div>

</div>