<div class="main">
    <div class="left">
        <div class="why">Why Choose Us?</div>
        <div class="why1">Lorem ipsum dolor sit</div>
        <div class="why1"> sit amet consectetur adipisicing elit</div>
        <div class="why2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam suscipit illo esse quaerat quia iure Lorem ipsum dolor sit amet</div>
        <button>EXPLORE MORE</button>
    </div>
    <div class="right">
        <img src="../../assets/classroom.avif" height="410px" width="600px" alt="">
    </div>
</div>