<div class="main">
    <div class="left">
        <img src="../../assets/playground.jpg" height="410px" width="600px" alt="">
    </div>
    <div class="right">
        <div class="heading">Lorem ipsum dolor</div>
        <div class="accordion" id="accordionExample" >
            <div class="accordion-item" class="bg-primary p-2 text-dark bg-opacity-50">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  SENIOR SCHOOL
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body" class="bg-primary p-2 text-dark bg-opacity-50">
                  <img src="../../assets/redArrow.svg" alt="" height="20px" width="20px" style="margin-right: 10px;"><span style="width: 300px;">School Calender</span><br>
                  <img src="../../assets/redArrow.svg" alt="" height="20px" width="20px" style="margin-right: 10px;"><span>School Uniform</span><br>
                </div>
              </div>
            </div>
            <div class="accordion-item" class="bg-success p-2 text-dark bg-opacity-50">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 JUNIOR SCHOOL
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body" class="bg-success p-2 text-dark bg-opacity-50">
                    <img src="../../assets/redArrow.svg" alt="" height="20px" width="20px" style="margin-right: 10px;"><span>School Calender</span><br>
                    <img src="../../assets/redArrow.svg" alt="" height="20px" width="20px" style="margin-right: 10px;"><span>School Uniform</span><br>
                </div>
              </div>
            </div>
            <div class="accordion-item" class="bg-danger p-2 text-dark bg-opacity-50">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                 PRE-PRIARY SCHOOL
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body" class="bg-danger p-2 text-dark bg-opacity-50">
                    <img src="../../assets/redArrow.svg" alt="" height="20px" width="20px" style="margin-right: 10px;"><span>School Calender</span><br>
                    <img src="../../assets/redArrow.svg" alt="" height="20px" width="20px" style="margin-right: 10px;"><span>School Uniform</span><br>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>