<div class="main">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-90">
            <img src="../../assets/school-uniform.png" height="250" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 style="line-height: 5px;">ADMISSION </h4>
              <h4 style="font-weight: 100; margin-bottom: 10px;">INFORMATION</h4>
              <p style="line-height: 1px;">For Enrolment & enquary Call us@</p>
              <p style="line-height: 15px;">+9123456789 <br> +9984848484</p>
              <button style="border-color: red; color: red;">LEARN MORE</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-90">
            <img src="../../assets/musicChild.png" height="250" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 style="line-height: 5px; font-weight: 200;">SESSION</h5>
              <h4>2021-2022</h4>
              <img src="../../assets/yellowArrow.svg" height="18px" width="18px" alt="" style="margin-right: 8px;">
              <span>Announcements</span><br>
              <img src="../../assets/yellowArrow.svg" height="18px" width="18px" alt="" style="margin-right: 8px;">
              <span>School Calendar</span><br>
              <img src="../../assets/yellowArrow.svg" height="18px" width="18px" alt="" style="margin-right: 8px;">
              <span>Awards & Achievements</span><br>
              <img src="../../assets/yellowArrow.svg" height="18px" width="18px" alt="" style="margin-right: 8px;">
              <span>ICSE and ISC Result</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-90">
            <img src="../../assets/tutoring.png" height="250" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 style="line-height: 5px; margin-bottom: 25px;">ACADEMICS</h4>
              <img src="../../assets/greenArrow.svg" height="18px" width="18px" alt="" style="margin-right: 8px;">
              <span>Syllabus</span><br>
              <img src="../../assets/greenArrow.svg" height="18px" width="18px" alt="" style="margin-right: 8px;">
              <span>Exam Schedule</span><br>
              <img src="../../assets/greenArrow.svg" height="18px" width="18px" alt="" style="margin-right: 8px;">
              <span>Subjects We Offer</span><br>
              <img src="../../assets/greenArrow.svg" height="18px" width="18px" alt="" style="margin-right: 8px;">
              <span>Classes</span><br>
              <img src="../../assets/greenArrow.svg" height="18px" width="18px" alt="" style="margin-right: 8px;">
              <span>List Of Toppers</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-90">
            <img src="../../assets/pngtree-cute-cartoon-elementary-school-pupils-png-image_2604327.jpg" height="250" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">TRANSPORT</h4>
              <img src="../../assets/redArrow.svg" height="18px" width="18px" alt="" style="margin-right: 8px;">
              <span>Bus Route</span><br>
              <img src="../../assets/redArrow.svg" height="18px" width="18px" alt="" style="margin-right: 8px;">
              <span>Dos and Dont's</span><br>
              <img src="../../assets/redArrow.svg" height="18px" width="18px" alt="" style="margin-right: 8px;">
              <span>Contact Informations</span><br>
              <img src="../../assets/redArrow.svg" height="18px" width="18px" alt="" style="margin-right: 8px;">
              <span>Private Transport</span><br>
            </div>
          </div>
        </div>
      </div>
</div>