.main{
    height: 550px;
    background-color: rgb(146, 146, 146);
    padding: 60px 120px;
}


@media screen and (max-width: 415px){
    .main{
        padding: 40px 40px;
        overflow: scroll;
        overflow-x: hidden;
    }

    /* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

}