<div class="main">
    <div class="first">FEATURED NEWS</div>
    <div class="second">LATEST <span style="color: rgb(26, 201, 64);">UPDATE</span></div>
    <div class="third">
        <div class="cards">
            <img src="../../assets/kidsInschool.jpg" alt="" height="150" width="200">
            <div class="one">January 20, 2022</div>
            <div class="two">COMPUTER SC Specimen QP</div>
            <div class="three">Class XI - 2019</div>
        </div>
        <div class="cards">
            <img src="../../assets/kidsInschool.jpg" alt="" height="150" width="200">
            <div class="one">January 20, 2022</div>
            <div class="two">COMPUTER SC Specimen QP</div>
            <div class="three">Class XI - 2019</div>
        </div>
        <div class="cards">
            <img src="../../assets/kidsInschool.jpg" alt="" height="150" width="200">
            <div class="one">January 20, 2022</div>
            <div class="two">COMPUTER SC Specimen QP</div>
            <div class="three">Class XI - 2019</div>
        </div>
        <div class="cards">
            <img src="../../assets/kidsInschool.jpg" alt="" height="150" width="200">
            <div class="one">January 20, 2022</div>
            <div class="two">COMPUTER SC Specimen QP</div>
            <div class="three">Class XI - 2019</div>
        </div>
        <div class="cards">
            <img src="../../assets/kidsInschool.jpg" alt="" height="150" width="200">
            <div class="one">January 20, 2022</div>
            <div class="two">COMPUTER SC Specimen QP</div>
            <div class="three">Class XI - 2019</div>
        </div>
        <div class="cards">
            <img src="../../assets/kidsInschool.jpg" alt="" height="150" width="200">
            <div class="one">January 20, 2022</div>
            <div class="two">COMPUTER SC Specimen QP</div>
            <div class="three">Class XI - 2019</div>
        </div>
    </div>
</div>