<div class="main">
    <div class="first">
        <div class="left">CIRCULARS/<span style="color: rgb(9, 138, 37);">DOWNLOADS</span>
        </div>
        <div class="right">
            <button>VIEW ALL</button>
        </div>
    </div>

    <div class="second">
        <div class="box">
            <div class="text">Click here to Download Transport Registration Form</div>
            <img src="../../assets/download.svg" alt="" height="20" width="20"><span style="color: red;">DOWNLOAD</span>
        </div>
        <div class="box">
            <div class="text">Click here to Download Transport Registration Form</div>
            <img src="../../assets/download.svg" alt="" height="20" width="20"><span style="color: red;">DOWNLOAD</span>
        </div>
        <div class="box">
            <div class="text">Click here to Download Transport Registration Form</div>
            <img src="../../assets/download.svg" alt="" width="20" height="20"><span style="color: red;">DOWNLOAD</span>
        </div>
        <div class="box">
            <div class="text">Click here to Download Transport Registration Form</div>
            <img src="../../assets/download.svg" alt="" width="20" height="20"><span style="color: red;">DOWNLOAD</span>
        </div>
        <div class="box">
            <div class="text">Click here to Download Transport Registration Form</div>
            <img src="../../assets/download.svg" alt="" width="20" height="20"><span style="color: red;">DOWNLOAD</span>
        </div>

    </div>
</div>