<div class="main">
    <div class="top">
        <div class="column">ABOUT US
            <ul>
                <li>Menu 1</li>
                <li>Menu 2</li>
                <li>Menu 3</li>
                <li>Menu 4</li>
                <li>Menu 5</li>
            </ul>
        </div>
        <div class="column">OUR USP
            <ul>
                <li>Menu 1</li>
                <li>Menu 2</li>
                <li>Menu 3</li>
                <li>Menu 4</li>
                <li>Menu 5</li>
            </ul>
        </div>
        <div class="column">INFRASTRUCTURE
            <ul>
                <li>Menu 1</li>
                <li>Menu 2</li>
                <li>Menu 3</li>
                <li>Menu 4</li>
                <li>Menu 5</li>
            </ul>
        </div>
        <div class="column">ACTIVITIES
            <ul>
                <li>Menu 1</li>
                <li>Menu 2</li>
                <li>Menu 3</li>
                <li>Menu 4</li>
                <li>Menu 5</li>
            </ul>
        </div>
        <div class="column">CONTACT US
            <ul>
                <li>Menu 1</li>
                <li>Menu 2</li>
                <li>Menu 3</li>
                <li>Menu 4</li>
                <li>Menu 5</li>
            </ul>
        </div>
        <div class="column">ACADEMICS
            <ul>
                <li>Menu 1</li>
                <li>Menu 2</li>
                <li>Menu 3</li>
                <li>Menu 4</li>
                <li>Menu 5</li>
            </ul>
        </div>
        <div class="column">OUR TEAM
            <ul>
                <li>Menu 1</li>
                <li>Menu 2</li>
                <li>Menu 3</li>
                <li>Menu 4</li>
                <li>Menu 5</li>
            </ul>
        </div>

    </div>
    <hr>
    <div class="logos">
        <img src="../../assets/facebookLogo.svg" alt="" height="30" width="30">
        <img src="../../assets/twitterLogo.svg" alt="" height="30" width="30">
        <img src="../../assets/linkedin.svg" alt="" height="30" width="30">
    </div>
    <div class="bottom">
        <div class="left">
            LOGO GOES HERE
        </div>
        <div class="mid">
            Copyright 2023 Company Name | Rights Reserved | Powered By Intlum

        </div>
        <div class="right">
            HOME | PHOTO GALLERY | SCHOOL IN NEWS

        </div>
    </div>
</div>