<div class="main">
    <div class="find">
        <img src="../../assets/find.svg" alt="" height="50" width="50">
        <div class="text">
            <div class="t1">FOR ENROLLMENT & ENQUIERY</div>
            <div class="t2">CONTACT US AT</div>
        </div>
    </div>
    <div class="phoneNms">
           <div class="sec"><img src="../../assets/mobile.svg" alt="" height="25" width="25"><span>+91 1234567899</span></div>
           <div class="sec"><img src="../../assets/mobile.svg" alt="" height="25" width="25"><span>+91 1234567899</span></div>
           <div class="sec"><img src="../../assets/mobile.svg" alt="" height="25" width="25"><span>+91 1234567899</span></div>
    </div>
</div>