<div class="main">
    <h1>LOREM IPSUM <span style="color: rgb(50, 119, 60);">DOLOR</span></h1>
    <div class="comps">
        <div class="box">
            <img src="../../assets/kids_in_Jungle.jpg" alt="" height="150" width="250">
            <div class="text">Independence Day</div>
            <div class="text">Celebration 2022</div>
            <hr>
        </div>
        <div class="box">
            <img src="../../assets/kids_in_Jungle.jpg" alt="" height="150px" width="250">
            <div class="text">Independence Day</div>
            <div class="text">Celebration 2022</div>
            <hr>
        </div>
        <div class="box">
            <img src="../../assets/kids_in_Jungle.jpg" alt="" height="150" width="250">
            <div class="text">Independence Day</div>
            <div class="text">Celebration 2022</div>
            <hr>
        </div>
        <div class="box">
            <img src="../../assets/kids_in_Jungle.jpg" alt="" height="150" width="250">
            <div class="text">Independence Day</div>
            <div class="text">Celebration 2022</div>
            <hr>
        </div>
    </div>
</div>
